<div class="card-title"><h3>Upcoming Events</h3></div>
<% @attending_events.each do |event| %>
    <p class="event">
        <strong><%= link_to event.title, event, data: {turbo_frame: "_top"}, class: "title"%></strong><br>
        Hosted by: <em>@<%= event.user.username %>,</em>&nbsp; <%= event.date %><br>
        Location: <em><%= event.location %></em><br>
        <%=  event.body %><br>
        
    </p>
<% end %>
