<div>
    <p>
        <% @attending_events.each do |event| %>
            <%= link_to event.title, event, data: {turbo_frame: "_top"} %><br>
            Date: <%= event.date %><br>
            Host: <%= event.user.username %><br>
            Location: <%= event.location %><br>
            Info: <%= event.body %><br>
            <%= link_to "bail out", destroy_attendance_path(:attendee_id=>current_user.id, :attended_event_id=>event.id), data: { turbo_method: "delete", turbo_confirm: "click OK to bail out of event" }%>
        <% end %>
    </p>
</div>