<% @attended_events.each do |event| %>
    <p>
        <strong><%= link_to event.title, event, data: {turbo_frame: "_top"} %></strong><br>
        Hosted by: <em>@<%= event.user.username %>,</em>&nbsp; <%= event.date %><br>
        Location: <em><%= event.location %></em><br>
        <%=  event.body %><br>
        
    </p>
<% end %>