<div>
    <p>
        <%= link_to event.title, event, data: {turbo_frame: "_top"} %><br>
        Date: <%= event.date %><br>
        Host: <%= event.user.username %><br>
        Location: <%= event.location %><br>
        Info: <%= event.body %>
    </p>
</div>