<div>
    <p>
        <%= link_to event.title, event, data: {turbo_frame: "_top"} %><br>
        <%# Event: <%= event.title %>
        Host: <%= event.user.username %>
        <%# Location: <%= event.location %>
        <%# Info: <%= event.body %>
    </p>
</div>