<div>
    <p>
        <%= link_to event.title, event, data: {turbo_frame: "_top"} %><br>
        Event: <%= event.title %>
        Date: <%= event.date %>
        Host: <%= event.user.username %>
        Location: <%= event.location %>
        Info: <%= event.body %>
    </p>
</div>