<%= form_with model: @event do |event| %>
    <% if event.object.errors.any? %>
    <%= pluralize(event.object.errors.count, "error") %>
    the following errors have prohibited this event from being saved:<br>
    <ul>
        <%= event.object.errors.each do |error| %>
        <li>
            <%= error.full_message %>
        </li>
        <% end %>
    </ul>
 <% end %>   
    <div class="card-title"><h3>Create new Event</h3></div>
    <div class="form-content">
    <%= event.text_area :title, placeholder: "title", class: "text-area" %><br>
    date: <%= event.date_field :date %><br>
    <%= event.text_area :location, placeholder: "location", class: "text-area" %><br>
    
    <%= event.text_area :body, placeholder: "message", class: "text-area" %><br>
    <%= event.submit "save event", class: "save"%><br>
<% end %>

