<h2>EVENTS</h2>
<% if user_signed_in? %>
    <div>
        <%= current_user.username %> signed in
    </div>
    <div>
        <%= link_to "MY EVENTS", profile_path(current_user) %>
    </div>
    <div>
        <h3>Create New Event:</h3>
        <%= render "form" %>
    </div>

    <div>

        <h3>Upcoming Events:</h3>
        <%= turbo_frame_tag "events" do %>
        <%= render @events %>
        <%= button_to "sign out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
       <% end %>
    </div>
    <% else %>
    <div>
        <%= link_to "log in", new_user_session_path %> to create and attend events
    </div>
<% end %>
