
<h3><%= @event.title %></h3>
Host: <%= @event.user.username %><br>
Date: <%= @event.date %><br>
Location: <%= @event.location %><br>
Info: <%= @event.body %><br>
<%= render "attend" %>
<%= link_to "home", events_path %>