
<h3><%= @event.title %></h3>
Host: <%= @event.user.username %><br>
Date: <%= @event.date %><br>
Location: <%= @event.location %><br>
Info: <%= @event.body %><br>

<% if @event.user_id == current_user.id %>
<%= link_to "edit", edit_event_path %>
<%= link_to "delete", event_path(@event), 
    data: { turbo_method: "delete", turbo_confirm: "click OK to delete event" }%>
<% end %>

<% if %>
<% @event.user_id != current_user.id && current_user.attended_events.include?(@event.id) %>
<%= link_to "attend", create_attendance_path(:attendee_id=>current_user.id, :attended_event_id=>@event.id), 
    data: { turbo_method: "post" } %>
<% end %>

<% if %>
<% @event.attendances.find(attendee_id) == current_user.id %>

<%= link_to "bail out", destroy_attendance_path(:attendee_id=>current_user.id, :attended_event_id=>@event.id), 
    data: { turbo_method: "delete", turbo_confirm: "click OK to bail out of event" }%>
<% end %>